---
interface Props {
  items: { title: string; url: string }[];
}

const { items } = Astro.props;
---

{
  items.length > 0 && (
    <aside class="browse-sidebar" data-pagefind-ignore>
      <div class="sidebar-box__heading">See also</div>
      <ul>
        {
          items.map((item) => (
            <li>
              <a href={item.url}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </aside>
  )
}
